p {
color : red;
}
body {
background-color : blue;
}
h1 {
font-family : arial;
font-size : 22px;
}
p.program {
color : black;
}
p.program {
background-color : white;
}
p.program {
text-align : center;
}
p.kurs {
text-align : right;
}
a {
text-decoration : none;
}
p.mig {
border : solid;
}
